body {
    background: #FFFFFF;
    color: #78909C;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.star-normal {
  color: #2196F3;
  font-size: 2em;
}

.star-favorite:hover {
  color: #2196F3;
}

.star-normal:hover {
  color: #009688;
}

.star-favorite {
  color: #009688;
}
.container {
    background: inherit;
}

.navbar-header{
    margin-left: 30px;
    width: 100%;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ballots {
    margin-top: 5px;
}

.panel {
    box-shadow: 5px 5px 2px #888888;
}

.panel:hover {
    box-shadow: 2px 2px 1px #888888;
    border-width: thin;
}

.bs-callout {
    padding: 2.5px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
}

.bs-callout-quote {
    border-left-color: gray;
}

.bs-callout-info {
    border-left-color: #eee;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.ballot_tip {
    font-size: .75em;
}

.bal_name, .bal_desc {
    outline: none;
    border-width: thin;
    box-shadow: 1px 1px 1px #888888;
    border-color: #888888;
}

.navbar, .navbar-default {
    border-radius: 0 !important;
}

.navbar > .navbar-right > a {
    padding-left: 5px;
    padding-right: 15px;
}


.jumbotron {
    background: #ffffff;
}

.results {
    position: relative;
    text-align: center;
    width: 160px;
    height: 160px;
    border-radius: 100%;
}

.results > h2 {
    padding-top: 15px;
    font-weight: bold;
}

#upvote {
    border: 2px solid #4CAF50;
}

.fa-arrow-up {
  color: #4CAF50;
}

.fa-arrow-down {
  color: #FF5722;
}

#upvote:hover{
  background: #4CAF50;
  color: white;
}

#downvote {
    border: 2px solid #FF5722;
}

#downvote:hover{
  background: #FF5722;
  color: white;
}

/* Intro, Login, Signup */
.intro {
    margin-top: 70px;
    color: #546E7A;
}

.intro > h1 {
    font-size: 72px;
}

.intro > h3 {
    font-size: 24px;
}
.intro .btn {
    width: 60%;
}

.intro .btn, .login .btn, .signup .btn, .profile .btn {
    border-radius: 30px;
}

.intro .btn:hover, .login .btn:hover,
.signup .btn:hover, .profile .btn:hover {
    background: #43A047;
    border: 1px solid #43A047;
}

.navbar-brand img {
    width: 200px;
    height: auto;
    margin-top: -5px;
}

.signup, .login {
    margin-top: 70px;
}

.well {
    background: #CFD8DC;
    border-radius: 10px;
}

#form-container .btn {
    margin-top: 20px;
    margin-bottom: 20px;
}


#form-container hr {
    width: 40%;
    border: 1px solid #6b8693;
}

#form-container h4 {
    font-size: 20px;
}

#reset {
    color: #2196F3;
    text-decoration: none;
}

/* Profile */
.navbar-left {
    margin-left: 30%;
    font-size: 16px;
}

.navbar-right li {
    font-size: 16px;
}

#ballot-header {
    text-decoration: none;
    font-size: 16px;
    color: #2196F3;
}

.panel:hover {
    cursor: pointer;
}

.badge {
    background: #6b8693;
}

/* Ballot View */
.ballot-view .btn {
    border-radius: 30px;
    margin-left: 10px;
}

#upvote-button:hover {
    background: #43A047;
    border: 1px solid #43A047;
}

#downvote-button:hover {
    background: #FF5722;
    border: 1px solid #FF5722;
}

.ballot-view input {
    margin-bottom: 15px;
}
