
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    }

body {
    background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#form-container {
    background: #ffffff;
    -webkit-box-shadow: 0 0 5px 1px #616161;
    -moz-box-shadow: 0 0 5px 1px #616161;
    box-shadow: 0 0 5px 1px #616161;
    padding-bottom: 30px;
    width: auto;
}

.navbar-header{
    margin-left: 30px;
    width: 100%;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.contents {
    margin-top: 60px;
}