@(ballots: List[Ballot], user: String, userObj: User)

@main("Ballot") {
  <div class="header">
    <nav class="navbar navbar-default" role="navigation">

      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">BallotBoard</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                @if(!user.equals("")) {
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn-default navbar-btn" data-toggle="dropdown" role="button" id="dropdownMenu1"  aria-haspopup="true" aria-expanded="true"><i class="fa fa-star star-favorite"></i> Favorites<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    @for(fav_bal <- userObj.favoriteHistoryWithVotes){
                      @for(bal <- ballots){
                        @if(fav_bal.contains(bal.id.toString())){
                          @if(User.hasUpdates(bal.upvotes, bal.downvotes, fav_bal.toString())){
                            <li style="background:yellow"><a href="/ballot/@bal.id">@bal.ballotName <i class="fa fa-arrow-up"></i>@bal.upvotes <i class="fa fa-arrow-down"></i> @bal.downvotes</a></li>
                          <li role="separator" class="divider"></li>
                          } else {
                          <li><a href="/ballot/@bal.id">@bal.ballotName <i class="fa fa-arrow-up"></i>@bal.upvotes <i class="fa fa-arrow-down"></i> @bal.downvotes</a></li>
                          <li role="separator" class="divider"></li>
                          }
                        }
                      }
                    }
                    </ul>
                    </li>


                    <li role="presentation"><a class="btn-default navbar-btn" href="/create"><i class="fa fa-pencil-square-o"></i> Create Ballot</a></li>
                    <li><a class="btn-default navbar-btn" href="/user"><i class="fa fa-user"></i> @user</a></li>
                    <li><a style="color: black"class="btn-primary navbar-btn" href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>

                } else {
                    <li><a class="btn-default navbar-btn" href="/login">Sign In</a></li>
                    <li><a class="btn-default navbar-btn" href="/signup">Sign Up</a></li>

                }

            </ul>
           </div>
        </div>
      </div>
    </div>
  </div>
    <section class="content">
      <div class="container">
          <div class="jumbotron">
          <h1 class="text-left"> All Ballots </h1>
          <blockquote class="bs-callout-quote text-left">
            <p>When the whole world is silent, even one voice becomes powerful</p>
            <footer>Malala Yousafzai</footer>
          </blockquote>
          <div class="ballots container">
              <div class="row">
                  @for(b <- ballots) {
                      <div class="col-md-4">
                          <div class="panel panel-default">
                              <a href="/ballot/@b.id"><div class="panel-heading"><h4>@b.ballotName</h4>
                                <span class="text-right">
                                @if(user){
                                  @if((userObj.isFavorite(b.id.toString()))){
                                    <span><i class="fa fa-star star-favorite"></i></span>
                                  } else {
                                <span><i class="fa fa-star-o star-normal"></i></span>
                                }
                                }
                              </span>

                              </div></a>

                              <div class="panel-body">
                                  <p>@b.description</p>
                              </div>
                              <div class="panel-footer text-left">
                                <a class="btn btn-mini" href="/ballot/@b.id">Click to Vote</a>
                              </div>

                          </div>
                      </div>
                  }
              </div>
          </div>
          </div>
      </div>
    </section>
}
