@(ballot: Ballot, user: String, message: String, userObj: User)

@main("View Ballot") {
  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">BallotBoard</a>
          <div class="navbar-right">
            <a class="btn btn-default navbar-btn" href="/create">Create Ballot</a>
            <a class="btn btn-default navbar-btn" href="/ballot">View All Ballots</a>
            <a href="/user"><i class="fa fa-user"></i> @user</a>
            <a class="btn btn-default navbar-btn" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading"><h2>@ballot.ballotName</h2></div>
              <div class="panel-body">
                <p>@ballot.description</p>
              </div>
              <div class="panel-footer text-left">
                <a class="btn btn-primary" href="@routes.Application.ballotVote(ballot.id.toString(), true)"><i class="fa fa-thumbs-up"></i> UpVote</a>
                <a class="btn btn-primary" href="@routes.Application.ballotVote(ballot.id.toString(), false)"><i class="fa fa-thumbs-down"></i> DownVote</a><span class="col-sm-offset-6">
                @if(userObj.isFavorite(ballot.id.toString())){
                  UnFavorite <a href="@routes.Application.ballotFavorite(ballot.id.toString())"> <i class="fa fa-star-o star-favorite"></i> </a>
                } else{
                  Favorite <a href="@routes.Application.ballotFavorite(ballot.id.toString())"><i class="fa fa-star-o star-normal"></i></a>
                }

              </div>
              <a href="@routes.Application.ballot()"><div class="text-danger text-center bg-warning" style="padding:0">@message</div></a>
            </div>
          </div>
        </div>
        <div class="row">
          <h3 class="text-center">Current Results</h3>
          <div class="col-md-8 col-md-offset-2">
            <div class="col-md-4 col-md-offset-2">
              <div class="results" id="upvote">
                <h2 class="text-center">@ballot.upvotes</h2>
                <p class="text-center">Upvotes</p>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
              <div class="results" id="downvote">
                <h2 class="text-center">@ballot.downvotes</h2>
                <p class="text-center">Downvotes</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
}
