@(form: Form[Application.BallotForm])

@*********************
 * Potentially having current user on each page *
 * @(form: Form[Application.BallotForm], user: String)*
 *********************@

@main("Create an Ballot") {

  <section class="contents">
    <div class="container">
    <div class="row" id="form-container" >
      <div class="col-md-8 col-md-offset-2">
        @helper.form(routes.Application.create) {
          <img src="@routes.Assets.versioned("images/logo.png")" class="img-responsive" alt="" /></img>
          @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.message
            </p>
          }
          <div class="bs-callout bs-callout-info">
            <h4> Make a Catchy Title </h4>
            <p> Create an eye catching title to draw people to your cause </p>
          </div>
          <input type="text" name="ballotName" placeholder="Name of Ballot" required class="form-control input-lg"/></input>
          <div class="bs-callout bs-callout-info">
            <h4> Tell your story </h4>
            <p> Invite others into your plight </p>
          </div>
          <textarea style="height:100px" type="text" name="description" placeholder="Ballot Description" required class="form-control"/></textarea>
          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block"> Create </button>
        }
      </div>
    </div>
  </div>
  </section>

}