@(ballot: Ballot, user: String)

@main("View Ballot") {

  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">BallotBoard</a>
          <div class="navbar-right">
            <a href="/user"> <i class="fa fa-user"></i> @user</a>
            <a class="btn btn-default navbar-btn" href="/create">Create Ballot</a>
            <a class="btn btn-default navbar-btn" href="/ballot">View All Ballots</a>
            <a class="btn btn-danger navbar-btn" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container">
      <div class="jumbotron">
        <div class="row">
           <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-heading">@ballot.ballotName</div>
              <div class="panel-body">
                <p>@ballot.description</p>
              </div>
              <div class="panel-footer">
                <a class="btn btn-primary" href="/ballot/@ballot.id">Add Vote</a>
                Vote Count <span class="badge">@ballot.voteCount</span><br>
                <div class="text-center"> Created by @ballot.ownerUsername</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
}