@(ballots: List[Ballot], user: String)

@main("Ballot") {

  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">BallotBoard</a>
            <div class="navbar-right">
                <a class="btn btn-danger navbar-btn" href="/create">Create Ballot</a>
                @if(!user.equals("")) {
                    <li><a href="/user"><span class="glyphicon glyphicon-user"> @user </span></a></li>
                    <a class="btn btn-default navbar-btn" href="/logout">Logout</a>
                } else {
                    <a class="btn btn-primary navbar-btn" href="/login">Sign In</a>
                }
            </div>
        </div>
      </div>
    </div>
  </div>
    <section class="content">
  <div class="container">
      <div class="jumbotron">
          <div class="row">
              @for(b <- ballots) {
                  <div class="col-md-3">
                      <div class="panel panel-default">
                          <div class="panel-heading">@b.ballotName</div>
                          <div class="panel-body">
                              <p>@b.description</p>
                          </div>
                          <div class="panel-footer">Vote Count <span class="badge">@b.voteCount</span>
                            <a class="btn btn-primary" href="/ballot/@b.id">Vote</a></div>
                      </div>
                  </div>
              }
          </div>
      </div>
  </div>
    </section>
}