@(ballot: Ballot, user: String)

@main("View Ballot") {

  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">BallotBoard</a>
          <div class="navbar-right">
            <a href="/user"> <i class="fa fa-user"></i> @user</a>
            <a class="btn btn-default navbar-btn" href="/create">Create Ballot</a>
            <a class="btn btn-default navbar-btn" href="/ballot">View All Ballots</a>
            <a class="btn btn-danger navbar-btn" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container">
      <div class="jumbotron">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading"><h1>@ballot.ballotName</h1></div>
              <div class="panel-body">
                <p>@ballot.description</p>
              </div>
              <div class="panel-footer text-left">
                <a class="btn btn-primary" href="@routes.Application.ballotVote(ballot.id.toString(), true)"><i class="fa fa-thumbs-up"></i> UpVote</a>
                <a class="btn btn-primary" href="@routes.Application.ballotVote(ballot.id.toString(), false)"><i class="fa fa-thumbs-up"></i> DownVote</a><span class="col-sm-offset-6">
                Vote Count <span class="badge">@ballot.voteCount</span></span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
}