@(message: String)

@main("BallotBoard") {

    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Welcome to BallotBoard</h1>
            <p class="text-center">Sign in to Create Ballots</p>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="/profile" role="button"> Sign In </a></p>
            <p class="text-center"> OR </p>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="/ballot" role="button"> View Ballots </a></p>
            <p class="text-center"> OR </p>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="/newprofile" role="button"> Create New Profile </a></p>
            <p class="text-center"> OR </p>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="/newballot" role="button"> Create New Ballot </a></p>
        </div>
    </div>
}
