@(form: Form[Application.Login])

@main("Login") {
    <div class="container">
        <div class="row" id="pwd-container">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <section class="login-form">
                    @helper.form(routes.Application.authenticate) {
                        <img src="@routes.Assets.versioned("images/logo.png")" class="img-responsive" alt="" />
                        @if(form.hasGlobalErrors) {
                            <p class="error">
                            @form.globalError.message
                            </p>
                        }
                        <input type="email" name="email" placeholder="Email" required class="form-control input-lg" value="@form("email").value"/>
                        <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />

                        <div class="pwstrength_viewport_progress"></div>
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
                        <div>
                          <a href="#">Create account</a> or <a href="#">reset password</a>
                        </div>
                    }
                </section>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

}