@(createdBallots: List[Ballot], voteHistory: List[Ballot], user: String, user_obj: User)

@main("Profile") {

    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">BallotBoard</a>
                    <div class="navbar-right">
                        <a class="btn btn-default" href="/ballot">View Ballots</a>
                        <a class="btn btn-default" href="/create">Create Ballot</a>
                        <a href="/user"><i class="fa fa-user"></i> @user</a>
                        <a class="btn btn-default navbar-btn" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
    <div class="container">
        <h3 class="text-center">Ballots Created by Me</h3>
        <div class="jumbotron">
          <div class="row">
          @for(b <- createdBallots) {
            @if(b.ownerUsername.equals(user)){
              <div class="col-md-3">
                  <div class="panel panel-default">
                      <div class="panel-heading"><a href="/ballot/@b.id">@b.ballotName</a></div>
                      <div class="panel-body">
                          <p>@b.description</p>
                      </div>
                      <div class="text-right panel-footer">Vote Count <span class="badge">@b.voteCount</span></div>
                  </div>
              </div>
              }
          }
          </div>
        </div>
    </div>
    <div class="container">
        <h3 class="text-center">Vote History</h3>
        <div class="jumbotron">
            <div class="row">
            @for(b <- createdBallots) {
              @if(user_obj.voted(b.id.toString())) {
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="/ballot/@b.id">@b.ballotName</a></div>
                        <div class="panel-body">
                            <p>@b.description</p>
                        </div>
                        <div class="text-right panel-footer">Vote Count <span class="badge">@b.voteCount</span></div>
                    </div>
                </div>
                }
            }
            </div>
        </div>
    </div>
    </section>

}
